body {
    background-color: #2596be;
    margin: 8px;
    display: block;
    padding: 20px;
    text-align: center;
    font-family: 'Courier New', monospace;
}

#mainHeading {
    color: red;
    padding: 40px;
    margin: 20px;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px #ff0000;
}

.funParagraph {
    color: green;
}